body{
	background: #607D8B;
	font-size: 16px;	
	max-width: 1024px;
}
#lstGrupos, #lstAlumnos{
	width: 80%;
}
#lstGrupos li, #lstAlumnos li{
	background: white;
	color: black;
}
#btnGruposPDF, #btnAlumnosPDF{
	background: #263238;
	border-radius: 5px;
	color: #ECEFF1;
	font-family: arial;
	font-size: 1.5em;
	margin-left: 39px;
	text-align: center;
	transition: all  0.2s linear;
}
#btnGruposPDF:hover, #btnAlumnosPDF:hover{
	color: gray;
	font-weight: bold;
	padding: 10px;
}