/*------------------BODY------------------*/
body{
	/*border: 1px solid black;*/
	background: #607D8B;
	font-size: 16px;
	height: 550px;
	margin: 0 auto;
	width: 500px;
}
/*-----ENCABEZADO (TÍTULO DE LA APP):-----*/
#artEncab{
	/*border: 1px solid black;*/
	color: #ECEFF1;
	font-family: arial;
	font-size: 2.5em;
	font-style: oblique;
	font-weight: bold;
	margin-top: 10px;
	text-align: center;
	text-shadow: 1px 1px #90A4AE;
	transition: all 0.3s linear;
}
#artEncab:hover{
	color: black;
	font-size: 2.7em;
	padding: 5px;
}
/*------------CAJA DE DATOS:--------------*/
#divSignIn{
	/*border: 1px solid black;*/
	background: #37474F;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #455A64;
	height: 350px;
	margin: 20px 0px 0px 55px;
	width: 394px;
}
div article{
	/*border: 1px solid gray;*/
	display: inline-block;
	height: 320px;
}
div article article{
	border-radius: 10px;
	border: 1px solid gray;
	height: 100px;
	margin: 20px 0px 0px 20px;
	width: 348px;
}
div article article span{
	color: #ECEFF1;
	font-size: 2em;
	font-style: oblique;
	margin-left: 5px;
	transition: all 0.3s linear;
}
div article article input{
	background: #90A4AE;
	border-radius: 10px;
	font-size: 2em;
	height: 46px;
	margin-left: 5px;
	width: 332px;
}
/*---------------BOTÓN ENVIAR:---------------*/
#btnSend{
	background: #263238;
	border-radius: 15px;
	color: #ECEFF1;
	font-family: arial;
	font-size: 2em;
	font-style: oblique;
	margin: 20px 0px 0px 128px;
	transition: all  0.3s linear;
	width: 125px;
}
#btnSend:hover{
	color: black;
	padding: 5px;
    width: 130px;
}
/*------------------FOOTER:------------------*/
#footer{
	/*border: 1px solid gray;*/
	margin: 18px 0px 0px 60px;
	width:250px;
}
#footerTitle{
	color: #212121;
	font-size: 1.5em;
}
.commonTitle{
	color: #ECEFF1;
	font-size: 1.1em;
}