body{
	margin: 0 auto;
	font-size: 16px;
	width: 500px;
	height: 550px;
	background: #607D8B;
	/*border: 1px solid gray;*/
}
#artEncab{
	margin-top: 10px;
	/*border: 1px solid black;*/
	color: #ECEFF1;
	font-size: 2.5em;
	font-weight: bold;
	font-family: arial;
	font-style: oblique;
	text-align: center;
	transition: all 0.3s linear;
	text-shadow: 1px 1px #90A4AE;
}
#artEncab:hover{
	padding: 5px;
	font-size: 2.7em;
	color: black;
}
#divSignIn{
	width: 394px;
	height: 350px;
	margin-left: 55px;
	margin-top: 20px;
	border-radius: 10px;
	background: #37474F;
	box-shadow: 10px 10px 5px #455A64;
}
#btnSend{
	margin-top: 20px;
	font-family: arial;
	font-style: oblique;
	font-size: 2em;
	width: 125px;
	margin-left: 128px;
	background: #263238;
	border-radius: 5px;
	text-align: center;
	color: #ECEFF1;
	transition: all  0.3s linear;
}
#btnSend:hover{
	padding: 5px;
	color: black;
    width: 130px;
}
div article {
	/*border: 1px solid gray;*/
	height:320px;
	display: inline-block;
}
div article article{
	border: 1px solid black;
	height:100px;
	width: 348px;
	border-radius: 10px;
	margin-left:20px;
	margin-top:20px;
	border: 1px solid gray;
}
div article article span{
	font-size: 2em;
	margin-left:5px;
	color: #ECEFF1;
	font-style: oblique;
	transition: all 0.3s linear;
}
div article article input{
	width: 332px;
	height: 46px;
	border-radius: 5px;
	font-size: 2em;
	margin-left:5px;
	background: #90A4AE;
}
#footer{
	margin-top: 18px;
	/*border: 1px solid gray;*/
	width:250px;
	margin-left: 60px;
}
#headerFooter{
	font-size: 1.5em;
	color: #212121;
}
.commonTitle{
	font-size: 1.1em;
	color: #ECEFF1;
}