/*Diseño del body:*/
body{
	/*border: 1px solid black;*/
	width: 2090px;
	height: 1246px;
	font-size: 16px;
	margin: 0 auto;
	background: rgb(240,240,240);
}
/*Diseño del header:*/
header nav{
	/*border: 1px solid black;*/
	width: 2085px;
	height: 92px;
	margin: 0 auto;
}
header nav input[type="search"]{
	border: 1px solid rgb(207,207,207);
	vertical-align: top;
	margin-top: 20px;
	margin-left: 192px;
	width: 238px;
	height: 48px;
	font-size: 1.5em;
	font-weight: bold;
	text-align: right;
}
header nav img{
	margin-left: 100px;
	width: 1524px;
	height: 88px;
}
/*Diseño de la sección 1:*/
#secc01{
	border-bottom: 1px solid rgb(68,68,68);
	background: rgb(43,43,43);
	display: inline-flex;
	width: 2090px;
	height: 592px;
	margin-top: 45px;
}
#secc01 article{
	/*border: 1px solid black;*/
	margin-top: 28px;
}
#art01secc01{
	width: 521px;
	height: 524px;
}
#art01secc01 img{
	/*border: 1px solid black;*/
	margin-top: 25px;
	width: 320px;
	height: 140px;
	margin-left: 20px;
}
#art01secc01 ul{
	margin-top: 50px;
	margin-left: 50px;
}
#art01secc01 ul li[id="li1"]{
	font-size: 2em;
	list-style: none;
	color: white;
}
#art01secc01 ul li{
	font-size: 2em;
	list-style: none;
	color: rgb(122,122,122);
}
#art02secc01, #art03secc01, #art04secc01, #art05secc01{
	text-align: center;
	width: 381px;
	height: 524px;
}
#art02secc01{
	background: rgb(180,208,82);
	color: white;
	font-size: 0.95em;
}
#art03secc01{
	background: rgb(84,84,84);
}
#art04secc01{
	background: rgb(212,45,63);
	color: white;
}
#art05secc01{
	background: rgb(228,228,228);
}
/*Diseño de las flechas de los artículos 2, 3, 4 y 5 (sección 1):*/
#buttonflechaArt2, #buttonflechaArt3, #buttonflechaArt4, #buttonflechaArt5{
	/*border: 1px solid black;*/
	width: 56px;
	height: 50px;
	font-size: 2.3em;
	float: right;
	color: rgb(235,241,219);
	font-weight: bold;
}
#buttonflechaArt2{
	margin-top: 92px;
	background: rgb(144,172,56);
}
#buttonflechaArt3{
	margin-top: 87px;
	background: rgb(68,68,68);
}
#buttonflechaArt4{
	margin-top: 104px;
	background: rgb(190,35,52);
}
#buttonflechaArt5{
	margin-top: 27px;
	background: rgb(199,198,198);
}
/*Diseño de la sección 2:*/
#secc02{
	/*border: 1px solid black;*/
	background: rgb(46,46,46);
	display: inline-flex;
	width: 2090px;
	height: 144px;
	margin-top: 1px;
}
#secc02 article{
	margin-top: 45px;
}
#secc02 article img{
	/*border: 1px solid black;*/
	width: 467px;
	height: 58px;
	float: right;
}
#art01secc02{
	margin-left: 175px;
}
#art01secc02, #art02secc02, #art03secc02{
	width: 650px;
	height: 90px;
	margin-right: 45px;
	border-bottom: gray 4px dotted;
}
/*Diseño de la sección 3:*/
#secc03{
	/*border: 1px solid black;*/
	display: inline-flex;
	width: 2090px;
	height: 382px;
	background: rgb(46,46,46);
}
#secc03 article{
	/*border: 1px solid black;*/
	font-size: 1.5em;
	text-align: justify;
	color: rgb(143,143,143);
	margin-top: 25px;
}
#art01secc03{
	width: 456px;
	height: 322px;
	margin-left: 145px;
}
#art02secc03{
	width: 433px;
	height: 230px;
	margin-left: 315px;
}
#art03secc03{
	width: 457px;
	height: 242px;
	margin-left: 125px;
}
/*Diseño de Clases:*/
.mayusBig{
	font-size: 2.5em;
	font-weight: bold;
}
.minusSmall{
	font-size: 1.6em;
}
.mayusSmall{
	font-size: 1.7em;
	color: white;
	font-weight: bold;
}
.sp01art03secc01, .sp02art03secc01{
	color: rgb(158,158,158);
}
.sp01art05secc01, .sp02art05secc01{
	color: rgb(119,119,119);
}
.rm{
	color: rgb(205,205,205);
	float: right;
}
.commonTitle{
	color: rgb(169,169,169);
	font-weight: bold;
}